* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accordion {
  width: 500px;
}
.item {
  background: rgb(46, 0, 34);
  margin-bottom: 0.6rem;
  padding: 0.5rem 1rem;
}
.question {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.answer {
  padding: 0.6rem 0;
  color: #fff;
  height: auto;
}
.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  padding: 0.4rem 0.8rem;
  background-color: #fff;
  color: rgb(46, 0, 34);
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  border: 1px solid rgb(46, 0, 34);
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(46, 0, 34);
  color: #fff;
}

/* BG COLOR CHANGER STYLES */
.bgColor-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(46, 0, 34);
}
.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: -2rem; */
}
.btn-wrapper button{
  margin: 0.8rem 0;
  padding: 0.4rem 0.8rem;
  background-color: #fff;
  color: rgb(46, 0, 34);
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  border: 1px solid rgb(46, 0, 34);
  margin-right: .2rem;
}
.btn-wrapper button:hover {
  background-color: rgb(46, 0, 34);
  color: #fff;
}
.color {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin-top: 10rem;
}
/* STAR RATING */
.star-rating{
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.star-rating .active{
  color: #fff700;
}
/* .star-rating .inactive{
  color: #fff700;
} */